/*
amarillo: #foe332
negro: #040000
gris: #b4b3b3
corbel, arial, sans-serif
border level 2: outset
*/

* {
  margin: 0;
  padding: 0;
  color: #b4b3b3;
  text-decoration: none;
  font-family: Corbel, Arial, sans-serif;
}

html {
  font-size: 20px;
}

body {
  background-color: #000;
}

form {

}

h1 {
  text-align: center;
}

img {
  width: 100%;
}

h2 {
  font-size: 4rem;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
  background-color: #b4b3b3;
}
textarea {
  font-size: 0.8rem;
  color: #000;
  width: 100%;
}

.btn-radio {
  display: none;
}

.centre {
  max-width: 640px;
  margin: 0 auto;
}

.opacar {
  opacity: 0.5;
  /*background-blend-mode: darken;*/
}

.input-numero {
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  color: #000;
  height: 1.05rem;
  width: 6rem;
}

.habitats {
  padding: 0 0.5rem;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
}

.niv-1 {
  background-color: rgb(233, 176, 1);
  grid-area: 3 / 1 / span 2 / span 3;
}

.niv-2 {
  background-color: rgb(112, 219, 1);
}

.niv-left {
  grid-area: 2 / 1 / span 1 / span 1;
}

.niv-right {
  grid-area: 2 / 3 / span 1 / span 1;
}

.niv-3 {
  background-color: rgb(1, 207, 207);
  grid-area: 1 / 2 / span 2 / span 1;
}

.niv-0 {
  background-color: #999;
  grid-area: 5 / 1 / span 1 / span 3;
}

.opciones-sandstorm {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-gap: 10px;
}

.contador {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-gap: 10px;
}

.sumar, .restar {
  width: 50%;
  border-radius: 100%;
  background-color: #3fa674;
  justify-self: center;
}

.sumar:hover, .restar:hover {
  cursor: pointer;
}

.error {
  color: #f00;
}

.ocultar {
  display: none;
}

.habitats label {
  color: #fff;
  text-align: center;
}

#fix-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 20;
  top: 0;
  background-color: #000;
  width: 100%;
}

#btn-submit {
  font-size: 1.5rem;
  color: #040000;
  background-color: #f0e332;
  display: block;
  margin: 10px auto 50px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  height: 2rem;
}

@media screen and (max-width: 640px) {
  .centre {
    padding: 0 7px;
  }
}
