/*****************
*                *
*     Header     *
*                *
******************/


header {
  background-color: #000000;
  border-bottom: 1rem solid var(--rojo);
}

header * {
  color: #fff;
}

header h1 {
  color: var(--blanco-texto);
  text-transform: uppercase;
  /*font-weight: 400;*/
}

/*************************
*                        *
*     Redes sociales     *
*                        *
**************************/

h3.redes-sociales {
  font-weight: 500;
  margin-bottom: 2rem;
}

/*************************
*                        *
*     Frase e imagen     *
*                        *
**************************/

section.frase-motivadora {
  background-color: var(--rojo-tenue);
}

.frase-izq, .frase-der {
  width: 49%;
}

.container-frase {
  background-color: #fff;
  box-sizing: border-box;
  width: 90%;
  padding: 10%;
  border-radius: 5px;
  margin: 0 auto;
}

.container-frase h3 {
  font-weight: 400;
}

.frase-der {
  overflow: hidden;
  justify-content: flex-end;
}

#foto-ingenieria {
  width: auto;
}

@media screen and (max-width: 700px){
  .frase-izq, .frase-der {
    width: 100%;
    margin: 1rem 0;
  }

  .frase-der {
    justify-content: center;
  }

  #foto-ingenieria {
    width: 90%;
    height: auto;
  }
}

/************************
*                       *
*     Que ofrecemos     *
*                       *
*************************/

section.que-ofrece {
  background-color: #000;
}

.que-ofrece h5 {
  color: var(--blanco-texto);
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

.que-ofrece a {
  color: var(--rojo-tenue);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  display: block;
  /*width: 100%;
  min-width: 135px;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;*/
  margin: 2rem auto 0;
}

/*********************
*                    *
*     Cubrebocas     *
*                    *
**********************/

section.cubrebocas {
  background-color: var(--rojo);
}

.cubrebocas * {
  color: var(--blanco-texto);
}

.cubrebocas h2 {
  font-weight: 300;
  text-align: left;
  max-width: 35rem;
}

div.switch {
  background-color: var(--rojo-tenue);
  margin: 1rem auto;
  border: 2px solid #000;
}

.switch button {
  color: var(--negro-texto);
  background-color: var(--rojo-tenue);
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

.idioma-activo {
  color: var(--blanco-texto) !important;
  background-color: #000 !important;
}

iframe {
  display: block;
}

#manual-cubrebocas-spanish, #manual-cubrebocas-english {
  width: 90%;
  height: 60vh;
  margin: 2rem auto;
}
