/*****************
*                *
*     Header     *
*                *
******************/

header * {
  color: var(--blanco-texto);
}

header .centre {
  /*border-radius: 1rem;*/
}

#header-verde {
  background-position: 0 0;
}

#header-verde p {
  background-color: rgba(26, 28, 79, 0.8);
}

#header-amarillo p, #header-amarillo h1 {
  background-color: rgba(0, 0, 0, 0.4);
}

#header-azul p {
  background-color: rgba(2, 29, 75, 0.8);
}

#header-naranja p, #header-naranja h1 {
  background-color: rgba(0, 0, 0, 0.8);
}

/******************************
*                             *
*     Display actividades     *
*                             *
*******************************/

iframe {
  width: 100%;
  min-height: 40vh;
}

div.actividades {
  justify-content: space-between;
}

.actividad {
  width: 45%;
  min-width: 300px;
  margin: 1rem;
}

.actividad h6 {
  font-weight: 500;
  height: 3rem;
}

#cuenta-act {
  text-align: center;
}

/**************************
*                         *
*     Nav actividades     *
*                         *
***************************/

.select-area {
  background-color: var(--rojo-tenue);
  position: static;
  padding: 0.5rem 0;
}

.btn-area {
  color: var(--blanco-texto);
  display: block;
  margin: 0.5rem 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
}

a.back-img-verde {
  background-position: 50% 0;
}

a.back-img-amarillo {
  background-position: 30% 50%;
}

a.back-img-azul {
  background-position: 20% 69%;
}
