@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Roboto-Bold.ttf);
}

:root {
  --rojo: #c00000;
  --gris: #9e9e9e;
  --rojo-tenue: #ffdfd8;
  --verde: #1a1c4f;
  --amarillo: #000;
  --azul: #021d4b;
  --naranja: #000;
}

* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

nav {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid var(--rojo);
}

footer {
  background-color: #202020;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1.7rem;
}

nav * {
  color: var(--blanco-texto);
}

.back-img-verde:hover, .back-img-amarillo:hover, .back-img-azul:hover, .back-img-naranja:hover {
  opacity: 1;
}

.back-img-verde {
  background-color: var(--verde);
  background-image: url(../img/fondo-ciencia.jpeg);
  background-position: center 22%;
}

.back-img-amarillo {
  background-color: var(--amarillo);
  background-image: url(../img/fondo-technology.jpeg);
  background-position: 50% 50%;
}

.back-img-azul {
  background-color: var(--azul);
  background-image: url(../img/fondo-engineering.jpeg);
  background-position: 50% 50%;
}

.back-img-naranja {
  background-color: var(--naranja);
  background-image: url(../img/fondo-mate.jpeg);
  background-position: 55% 60%;
}

.btns-nav {
  grid-area: 1 / 1 / 2 / 2;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 15%;
}

.btns-nav a {
  display: block;
  padding: 0.75rem 0.5rem 0.2rem;
  border-bottom: 2px solid #000;
}

.iconos-redes {
  justify-content: center;
}

footer .redes-sociales {
  margin: 2rem 1rem;
}

.redes-sociales img {
  width: 2rem;
  margin-right: 0.5rem;
}

#btn-pagina-actual, .btns-nav a:hover {
  color: var(--rojo);
  border-bottom-color: var(--rojo);
}

#espacio-nav {
  background-color: var(--rojo);
  min-width: 5rem;
}

@media screen and (max-width: 800px){
  .nav-grid {
    grid-template-columns: 1fr 120px;
  }
}
