h6 {
  text-align: left;
  margin: 0.5rem 0;
}

.aumentar, .cifra-contador, .restar, .btn-simbol {
  display: inline-block;
}

.aumentar, .restar {
  background-color: #f0e332;
  width: 27.5%;
  max-width: 5.75rem;
}

.btn-simbol {
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 50%;
}

.centre {
  max-width: 700px;
  margin: 0 auto !important;
}

.checkbox-imagenes {
  justify-content: space-around;
}

.cifra-contador {
  font-size: 4rem;
  text-align: center;
  width: 3ch;
}

.habitats {
  padding: 0 0.5rem;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
}

.habitat-niv-1 {
  background-color: rgb(233, 176, 1);
  grid-area: 3 / 1 / span 2 / span 3;
}

.habitat-niv-2 {
  background-color: rgb(112, 219, 1);
}

.habitat-niv-left {
  grid-area: 2 / 1 / span 1 / span 1;
}

.habitat-niv-right {
  grid-area: 2 / 3 / span 1 / span 1;
}

.habitat-niv-3 {
  background-color: rgb(1, 207, 207);
  grid-area: 1 / 2 / span 2 / span 1;
}

.habitat-niv-0 {
  background-color: #999;
  grid-area: 5 / 1 / span 1 / span 3;
}

.radio-imagenes {
  display: grid;
  grid-gap: 10px;
  grid-template: 1fr / repeat(3, 1fr);
}

.checkbox-imagenes label {
  width: 24%;
  min-width: 100px;
}

.habitats label {
  color: #fafafa;
  text-align: center;
  padding: 0.4rem 0;
}

#btn-submit {
  color: #3d3d3d;
  background-color: #f0e332;
  display: block;
  width: 70%;
  min-width: 6rem;
  padding: 0.75rem 0;
  margin: 0.5rem auto 0;
}

#comments {
  color: #3d3d3d;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
}

#info-match div {
  margin: 0.5rem 0;
}

@media screen and (min-width: 2016px) {
  .centre {
    max-width: 1400px;
  }
}

@media screen and (max-width: 700px) {
  .centre {
    margin: 0 10px !important;
  }
}
