/*
amarillo: #foe332
negro: #040000
gris: #b4b3b3
corbel, arial, sans-serif
border level 2: outset
*/

* {
  color: #b4b3b3;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #000;
}

h1 {
  margin: 1.2rem 0;
}

#Team-Number, #Match-Number {
  width: 5rem;
}
